## ```sampley``` tests - Stage 3 (Samples)

### Setup

In [1]:
from sampley import *

In [2]:
import_folder = 'C:/Users/jsyme/My Drive/JSBigelow/Packages/sampley/tests/import/'
export_folder = 'C:/Users/jsyme/My Drive/JSBigelow/Packages/sampley/tests/export/'

### Grid approach

#### Set up

In [3]:
u_sightings = DataPoints.from_file(
    filepath=import_folder+'sightings.csv',
    x_col='lon',
    y_col='lat',
    crs_import='EPSG:4326',
    crs_working='EPSG:32619',
    datetime_col='datetime',
    tz_import='UTC-05:00'
)
u_sections = Sections.from_file(
    filepath=import_folder+'sections.gpkg',
    crs_working='EPSG:32619',
    datetime_col='datetime',
    tz_import='UTC-05:00'
)
u_periods = Periods.delimit(
    extent=u_sections,
    unit='day',
    num=8)
u_cells = Cells.delimit(
    extent=u_sections,
    var='hexagonal',
    side=5000)

Success: file opened.
Success: X and Y coordinates parsed.
Success: reprojected to CRS "EPSG:32619"
Success: column "datetime" reformatted to datetimes.
Success: timezone of column "datetime" set to "UTC-05:00".
Success: datapoint IDs generated.
Success: file opened.
Success: reprojected to CRS "EPSG:32619"
Success: column "datetime" reformatted to datetimes.
Success: timezone of column "datetime" set to "UTC-05:00".
Success: section IDs generated.

#### ```Samples.grid```

##### Without periods

In [4]:
u_samples_sightings = Samples.grid(
    datapoints=u_sightings,
    cells=u_cells,
    cols={'individuals': 'sum'})
u_samples_sightings.samples

,cell_id,polygon,centroid,period_id,individuals
0,c014-h5000m,"POLYGON ((612678.922 4701798.087, 617009.049 4...",POINT (612678.922 4696798.087),none,4
1,c015-h5000m,"POLYGON ((621339.176 4701798.087, 625669.303 4...",POINT (621339.176 4696798.087),none,2
2,c021-h5000m,"POLYGON ((504425.747 4709298.087, 508755.874 4...",POINT (504425.747 4704298.087),none,3
3,c022-h5000m,"POLYGON ((513086.001 4709298.087, 517416.128 4...",POINT (513086.001 4704298.087),none,1
4,c035-h5000m,"POLYGON ((625669.303 4709298.087, 629999.43 47...",POINT (625669.303 4704298.087),none,3
5,c045-h5000m,"POLYGON ((534736.636 4716798.087, 539066.763 4...",POINT (534736.636 4711798.087),none,2
6,c063-h5000m,"POLYGON ((521746.255 4724298.087, 526076.382 4...",POINT (521746.255 4719298.087),none,1
7,c077-h5000m,"POLYGON ((642989.811 4724298.087, 647319.938 4...",POINT (642989.811 4719298.087),none,3
8,c078-h5000m,"POLYGON ((651650.065 4724298.087, 655980.192 4...",POINT (651650.065 4719298.087),none,5
9,c127-h5000m,"POLYGON ((552057.144 4746798.087, 556387.271 4...",POINT (552057.144 4741798.087),none,7
10,c130-h5000m,"POLYGON ((578037.906 4746798.087, 582368.033 4...",POINT (578037.906 4741798.087),none,1

##### With pre-defined periods

In [5]:
u_samples_sightings = Samples.grid(
    datapoints=u_sightings,
    cells=u_cells,
    periods='season',
    cols={'individuals': 'sum'})
u_samples_sightings.samples

,cell_id,polygon,centroid,period_id,individuals
0,c014-h5000m,"POLYGON ((612678.922 4701798.087, 617009.049 4...",POINT (612678.922 4696798.087),spring,4
1,c015-h5000m,"POLYGON ((621339.176 4701798.087, 625669.303 4...",POINT (621339.176 4696798.087),spring,2
2,c021-h5000m,"POLYGON ((504425.747 4709298.087, 508755.874 4...",POINT (504425.747 4704298.087),spring,3
3,c022-h5000m,"POLYGON ((513086.001 4709298.087, 517416.128 4...",POINT (513086.001 4704298.087),spring,1
4,c035-h5000m,"POLYGON ((625669.303 4709298.087, 629999.43 47...",POINT (625669.303 4704298.087),spring,3
5,c045-h5000m,"POLYGON ((534736.636 4716798.087, 539066.763 4...",POINT (534736.636 4711798.087),spring,2
6,c063-h5000m,"POLYGON ((521746.255 4724298.087, 526076.382 4...",POINT (521746.255 4719298.087),spring,1
7,c077-h5000m,"POLYGON ((642989.811 4724298.087, 647319.938 4...",POINT (642989.811 4719298.087),spring,3
8,c078-h5000m,"POLYGON ((651650.065 4724298.087, 655980.192 4...",POINT (651650.065 4719298.087),spring,5
9,c127-h5000m,"POLYGON ((552057.144 4746798.087, 556387.271 4...",POINT (552057.144 4741798.087),winter,7
10,c130-h5000m,"POLYGON ((578037.906 4746798.087, 582368.033 4...",POINT (578037.906 4741798.087),winter,1

##### With periods (defined with ```Periods.delimit```)

In [6]:
u_samples_sightings = Samples.grid(
    datapoints=u_sightings,
    cells=u_cells,
    periods=u_periods,
    cols={'individuals': 'sum'})
u_samples_sightings.samples

,cell_id,polygon,centroid,period_id,date_beg,date_mid,date_end,individuals
0,c014-h5000m,"POLYGON ((612678.922 4701798.087, 617009.049 4...",POINT (612678.922 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,4
1,c015-h5000m,"POLYGON ((621339.176 4701798.087, 625669.303 4...",POINT (621339.176 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,2
2,c021-h5000m,"POLYGON ((504425.747 4709298.087, 508755.874 4...",POINT (504425.747 4704298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,3
3,c022-h5000m,"POLYGON ((513086.001 4709298.087, 517416.128 4...",POINT (513086.001 4704298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,1
4,c035-h5000m,"POLYGON ((625669.303 4709298.087, 629999.43 47...",POINT (625669.303 4704298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,3
5,c045-h5000m,"POLYGON ((534736.636 4716798.087, 539066.763 4...",POINT (534736.636 4711798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,2
6,c063-h5000m,"POLYGON ((521746.255 4724298.087, 526076.382 4...",POINT (521746.255 4719298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,1
7,c077-h5000m,"POLYGON ((642989.811 4724298.087, 647319.938 4...",POINT (642989.811 4719298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,3
8,c078-h5000m,"POLYGON ((651650.065 4724298.087, 655980.192 4...",POINT (651650.065 4719298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,5
9,c127-h5000m,"POLYGON ((552057.144 4746798.087, 556387.271 4...",POINT (552057.144 4741798.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,7
10,c130-h5000m,"POLYGON ((578037.906 4746798.087, 582368.033 4...",POINT (578037.906 4741798.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,1

##### With periods (defined with ```Periods.delimit```) and ```full=True```

In [7]:
u_samples_sightings = Samples.grid(
    datapoints=u_sightings,
    cells=u_cells,
    periods=u_periods,
    cols={'individuals': 'sum'},
    full=True)
u_samples_sightings.samples

,cell_id,polygon,centroid,period_id,date_beg,date_mid,date_end,individuals
0,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN
1,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-02-8d,2019-02-02 00:00:00-05:00,2019-02-06 00:00:00-05:00,2019-02-09 00:00:00-05:00,NaN
2,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-10-8d,2019-02-10 00:00:00-05:00,2019-02-14 00:00:00-05:00,2019-02-17 00:00:00-05:00,NaN
3,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-18-8d,2019-02-18 00:00:00-05:00,2019-02-22 00:00:00-05:00,2019-02-25 00:00:00-05:00,NaN
4,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN
...,...,...,...,...,...,...,...,...
895,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN
896,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-02-8d,2019-02-02 00:00:00-05:00,2019-02-06 00:00:00-05:00,2019-02-09 00:00:00-05:00,NaN
897,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-10-8d,2019-02-10 00:00:00-05:00,2019-02-14 00:00:00-05:00,2019-02-17 00:00:00-05:00,NaN
898,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-18-8d,2019-02-18 00:00:00-05:00,2019-02-22 00:00:00-05:00,2019-02-25 00:00:00-05:00,NaN
899,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN

#### ```Samples.grid_se```

##### Without periods

In [8]:
u_samples_effort = Samples.grid_se(
    sections=u_sections,
    cells=u_cells,
    length=True,
    esw=2000,
    euc_geo='both')
u_samples_effort.samples

,cell_id,polygon,centroid,period_id,se_length,se_length_geo,se_area,se_area_geo
0,c013-h5000m,"POLYGON ((604018.668 4701798.087, 608348.795 4...",POINT (604018.668 4696798.087),none,6000.522001,6002.103007,2.400223e+07,2.401489e+07
1,c014-h5000m,"POLYGON ((612678.922 4701798.087, 617009.049 4...",POINT (612678.922 4696798.087),none,8662.115497,8664.227051,3.464837e+07,3.466526e+07
2,c015-h5000m,"POLYGON ((621339.176 4701798.087, 625669.303 4...",POINT (621339.176 4696798.087),none,8661.560380,8663.455712,3.464624e+07,3.466141e+07
3,c016-h5000m,"POLYGON ((629999.43 4701798.087, 634329.557 46...",POINT (629999.43 4696798.087),none,8662.595905,8664.259376,3.464356e+07,3.465686e+07
4,c017-h5000m,"POLYGON ((638659.684 4701798.087, 642989.811 4...",POINT (638659.684 4696798.087),none,8662.002385,8663.417673,3.459168e+07,3.460298e+07
...,...,...,...,...,...,...,...,...
118,c147-h5000m,"POLYGON ((556387.271 4754298.087, 560717.398 4...",POINT (556387.271 4749298.087),none,NaN,NaN,3.690818e+05,3.693483e+05
119,c148-h5000m,"POLYGON ((565047.525 4754298.087, 569377.652 4...",POINT (565047.525 4749298.087),none,NaN,NaN,4.353824e+05,4.356856e+05
120,c149-h5000m,"POLYGON ((573707.779 4754298.087, 578037.906 4...",POINT (573707.779 4749298.087),none,NaN,NaN,5.225598e+05,5.229082e+05
121,c158-h5000m,"POLYGON ((651650.065 4754298.087, 655980.192 4...",POINT (651650.065 4749298.087),none,NaN,NaN,6.821518e+06,6.822958e+06
122,c159-h5000m,"POLYGON ((660310.319 4754298.087, 664640.446 4...",POINT (660310.319 4749298.087),none,4780.422232,4780.893027,1.340119e+07,1.340372e+07

##### With pre-defined periods

In [9]:
u_samples_effort = Samples.grid_se(
    sections=u_sections,
    cells=u_cells,
    periods='season',
    length=True,
    esw=2000,
    euc_geo='both')
u_samples_effort.samples

,cell_id,polygon,centroid,period_id,se_length,se_length_geo,se_area,se_area_geo
0,c013-h5000m,"POLYGON ((604018.668 4701798.087, 608348.795 4...",POINT (604018.668 4696798.087),spring,6000.522001,6002.103007,2.400223e+07,2.401489e+07
1,c014-h5000m,"POLYGON ((612678.922 4701798.087, 617009.049 4...",POINT (612678.922 4696798.087),spring,8662.115497,8664.227051,3.464837e+07,3.466526e+07
2,c015-h5000m,"POLYGON ((621339.176 4701798.087, 625669.303 4...",POINT (621339.176 4696798.087),spring,8661.560380,8663.455712,3.464624e+07,3.466141e+07
3,c016-h5000m,"POLYGON ((629999.43 4701798.087, 634329.557 46...",POINT (629999.43 4696798.087),spring,8662.595905,8664.259376,3.464356e+07,3.465686e+07
4,c017-h5000m,"POLYGON ((638659.684 4701798.087, 642989.811 4...",POINT (638659.684 4696798.087),spring,8662.002385,8663.417673,3.459168e+07,3.460298e+07
...,...,...,...,...,...,...,...,...
118,c147-h5000m,"POLYGON ((556387.271 4754298.087, 560717.398 4...",POINT (556387.271 4749298.087),winter,NaN,NaN,3.690818e+05,3.693483e+05
119,c148-h5000m,"POLYGON ((565047.525 4754298.087, 569377.652 4...",POINT (565047.525 4749298.087),winter,NaN,NaN,4.353824e+05,4.356856e+05
120,c149-h5000m,"POLYGON ((573707.779 4754298.087, 578037.906 4...",POINT (573707.779 4749298.087),winter,NaN,NaN,5.225598e+05,5.229082e+05
121,c158-h5000m,"POLYGON ((651650.065 4754298.087, 655980.192 4...",POINT (651650.065 4749298.087),spring,NaN,NaN,6.821518e+06,6.822958e+06
122,c159-h5000m,"POLYGON ((660310.319 4754298.087, 664640.446 4...",POINT (660310.319 4749298.087),spring,4780.422232,4780.893027,1.340119e+07,1.340372e+07

##### With periods (defined with ```Periods.delimit```)

In [10]:
u_samples_effort = Samples.grid_se(
    sections=u_sections,
    cells=u_cells,
    periods=u_periods,
    length=True,
    esw=2000,
    euc_geo='both')
u_samples_effort.samples

,cell_id,polygon,centroid,period_id,date_beg,date_mid,date_end,se_length,se_length_geo,se_area,se_area_geo
0,c013-h5000m,"POLYGON ((604018.668 4701798.087, 608348.795 4...",POINT (604018.668 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,6000.522001,6002.103007,2.400223e+07,2.401489e+07
1,c014-h5000m,"POLYGON ((612678.922 4701798.087, 617009.049 4...",POINT (612678.922 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,8662.115497,8664.227051,3.464837e+07,3.466526e+07
2,c015-h5000m,"POLYGON ((621339.176 4701798.087, 625669.303 4...",POINT (621339.176 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,8661.560380,8663.455712,3.464624e+07,3.466141e+07
3,c016-h5000m,"POLYGON ((629999.43 4701798.087, 634329.557 46...",POINT (629999.43 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,8662.595905,8664.259376,3.464356e+07,3.465686e+07
4,c017-h5000m,"POLYGON ((638659.684 4701798.087, 642989.811 4...",POINT (638659.684 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,8662.002385,8663.417673,3.459168e+07,3.460298e+07
...,...,...,...,...,...,...,...,...,...,...,...
118,c147-h5000m,"POLYGON ((556387.271 4754298.087, 560717.398 4...",POINT (556387.271 4749298.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,3.690818e+05,3.693483e+05
119,c148-h5000m,"POLYGON ((565047.525 4754298.087, 569377.652 4...",POINT (565047.525 4749298.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,4.353824e+05,4.356856e+05
120,c149-h5000m,"POLYGON ((573707.779 4754298.087, 578037.906 4...",POINT (573707.779 4749298.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,5.225598e+05,5.229082e+05
121,c158-h5000m,"POLYGON ((651650.065 4754298.087, 655980.192 4...",POINT (651650.065 4749298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,NaN,6.821518e+06,6.822958e+06
122,c159-h5000m,"POLYGON ((660310.319 4754298.087, 664640.446 4...",POINT (660310.319 4749298.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,4780.422232,4780.893027,1.340119e+07,1.340372e+07

##### With periods (defined with ```Periods.delimit```) and ```full=True```

In [11]:
u_samples_effort = Samples.grid_se(
    sections=u_sections,
    cells=u_cells,
    periods=u_periods,
    length=True,
    esw=2000,
    euc_geo='both',
    full=True)
u_samples_effort.samples

,cell_id,polygon,centroid,period_id,date_beg,date_mid,date_end,se_length,se_length_geo,se_area,se_area_geo
0,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,NaN
1,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-02-8d,2019-02-02 00:00:00-05:00,2019-02-06 00:00:00-05:00,2019-02-09 00:00:00-05:00,NaN,NaN,NaN,NaN
2,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-10-8d,2019-02-10 00:00:00-05:00,2019-02-14 00:00:00-05:00,2019-02-17 00:00:00-05:00,NaN,NaN,NaN,NaN
3,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-18-8d,2019-02-18 00:00:00-05:00,2019-02-22 00:00:00-05:00,2019-02-25 00:00:00-05:00,NaN,NaN,NaN,NaN
4,c001-h5000m,"POLYGON ((500095.62 4701798.087, 504425.747 46...",POINT (500095.62 4696798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
895,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,NaN
896,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-02-8d,2019-02-02 00:00:00-05:00,2019-02-06 00:00:00-05:00,2019-02-09 00:00:00-05:00,NaN,NaN,NaN,NaN
897,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-10-8d,2019-02-10 00:00:00-05:00,2019-02-14 00:00:00-05:00,2019-02-17 00:00:00-05:00,NaN,NaN,NaN,NaN
898,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-18-8d,2019-02-18 00:00:00-05:00,2019-02-22 00:00:00-05:00,2019-02-25 00:00:00-05:00,NaN,NaN,NaN,NaN
899,c180-h5000m,"POLYGON ((664640.446 4761798.087, 668970.573 4...",POINT (664640.446 4756798.087),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,NaN,NaN,NaN

#### ```Samples.merge```

In [42]:
u_samples_sightings = Samples.grid(
    datapoints=u_sightings,
    cells=u_cells,
    periods=u_periods,
    cols={'individuals': 'sum'})
u_samples_effort = Samples.grid_se(
    sections=u_sections,
    cells=u_cells,
    periods=u_periods,
    length=True,
    esw=2000,
    euc_geo='both')
u_samples = Samples.merge(
    sightings=u_samples_sightings,
    effort=u_samples_effort)
u_samples.samples

Note: samples generated with the segment approach

,segment_id,line,midpoint,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,individuals,se_length,se_area,se_effective,se_length_geo,se_area_geo,se_effective_geo
0,s01-r10000m,"LINESTRING (580092.757 4742883.408, 579997.135...",POINT (575093.021 4742845.959),2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,1.0,10000.580283,4.000232e+07,2.468143e+07,10003.886818,4.001555e+07,2.468959e+07
1,s02-r10000m,"LINESTRING (570093.642 4742829.91, 569917.081 ...",POINT (565093.86 4742799.716),2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.059397,4.001624e+07,2.469002e+07
2,s03-r10000m,"LINESTRING (560093.988 4742773.153, 559864.339...",POINT (555094.071 4742749.107),2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,2.0,10000.580283,4.000232e+07,2.468143e+07,10004.207367,4.001683e+07,2.469038e+07
3,s04-r10000m,"LINESTRING (550093.926 4742710.923, 549838.842...",POINT (545093.756 4742676.369),2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,5.0,10000.580283,4.000232e+07,2.468143e+07,10004.330722,4.001732e+07,2.469069e+07
4,s05-r10000m,"LINESTRING (540093.561 4742645.442, 539704.822...",POINT (535094.224 4742648.431),2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.429448,4.001772e+07,2.469093e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (652980.044 4697677.144, 652979.945...",POINT (647917.17 4697623.667),2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.615267,4.051846e+07,2.499989e+07
65,s66-r10000m,"LINESTRING (642854.209 4697537.196, 642721.486...",POINT (637791.127 4697454.392),2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.975917,4.051990e+07,2.500078e+07
66,s67-r10000m,"LINESTRING (632727.93 4697356.37, 632683.219 4...",POINT (627664.663 4697262.02),2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,0.0,10128.291402,4.051317e+07,2.499662e+07,10130.311023,4.052124e+07,2.500161e+07
67,s68-r10000m,"LINESTRING (622602.172 4697152.471, 622357.753...",POINT (617538.774 4697065.46),2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,2.0,10128.291402,4.051317e+07,2.499662e+07,10130.620584,4.052248e+07,2.500237e+07
68,s69-r10000m,"LINESTRING (612475.314 4696982.119, 612333.116...",POINT (607412.53 4696883.577),2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,4.0,10128.291402,4.051317e+07,2.499662e+07,10130.904568,4.052362e+07,2.500307e+07

#### ```Samples.reproject```

In [13]:
u_samples.reproject(crs_target='EPSG:4326')
u_samples.samples

Success: additional geometry column "centroid" reprojected to CRS "EPSG:4326"
Success: reprojected to CRS "EPSG:4326"

,cell_id,polygon,centroid,period_id,date_beg,date_mid,date_end,individuals,se_length,se_length_geo,se_area,se_area_geo
0,c013-h5000m,"POLYGON ((-67.73483 42.46154, -67.68265 42.438...",POINT (-67.73573 42.41652),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,6000.522001,6002.103007,2.400223e+07,2.401489e+07
1,c014-h5000m,"POLYGON ((-67.62952 42.46033, -67.57738 42.437...",POINT (-67.6305 42.41531),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,4.0,8662.115497,8664.227051,3.464837e+07,3.466526e+07
2,c015-h5000m,"POLYGON ((-67.52422 42.45902, -67.47212 42.435...",POINT (-67.52528 42.41401),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,2.0,8661.560380,8663.455712,3.464624e+07,3.466141e+07
3,c016-h5000m,"POLYGON ((-67.41893 42.45762, -67.36687 42.434...",POINT (-67.42006 42.41261),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,8662.595905,8664.259376,3.464356e+07,3.465686e+07
4,c017-h5000m,"POLYGON ((-67.31365 42.45612, -67.26163 42.432...",POINT (-67.31485 42.41111),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,8662.002385,8663.417673,3.459168e+07,3.460298e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
118,c147-h5000m,"POLYGON ((-68.30888 42.93923, -68.25609 42.916...",POINT (-68.30939 42.89421),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,3.690818e+05,3.693483e+05
119,c148-h5000m,"POLYGON ((-68.20275 42.93854, -68.14999 42.915...",POINT (-68.20333 42.89352),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,4.353824e+05,4.356856e+05
120,c149-h5000m,"POLYGON ((-68.09662 42.93775, -68.0439 42.9148...",POINT (-68.09727 42.89273),p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,5.225598e+05,5.229082e+05
121,c158-h5000m,"POLYGON ((-67.1417 42.92623, -67.08936 42.9028...",POINT (-67.14305 42.88123),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,NaN,NaN,6.821518e+06,6.822958e+06
122,c159-h5000m,"POLYGON ((-67.03564 42.92446, -66.98334 42.901...",POINT (-67.03707 42.87946),p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,4780.422232,4780.893027,1.340119e+07,1.340372e+07

#### ```Samples.coords```

In [14]:
u_samples.coords()
u_samples.samples

,cell_id,polygon,centroid,centroid_lon,centroid_lat,period_id,date_beg,date_mid,date_end,individuals,se_length,se_length_geo,se_area,se_area_geo
0,c013-h5000m,"POLYGON ((-67.73483 42.46154, -67.68265 42.438...",POINT (-67.73573 42.41652),-67.735734,42.416523,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,6000.522001,6002.103007,2.400223e+07,2.401489e+07
1,c014-h5000m,"POLYGON ((-67.62952 42.46033, -67.57738 42.437...",POINT (-67.6305 42.41531),-67.630504,42.415314,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,4.0,8662.115497,8664.227051,3.464837e+07,3.466526e+07
2,c015-h5000m,"POLYGON ((-67.52422 42.45902, -67.47212 42.435...",POINT (-67.52528 42.41401),-67.525280,42.414008,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,2.0,8661.560380,8663.455712,3.464624e+07,3.466141e+07
3,c016-h5000m,"POLYGON ((-67.41893 42.45762, -67.36687 42.434...",POINT (-67.42006 42.41261),-67.420063,42.412606,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,8662.595905,8664.259376,3.464356e+07,3.465686e+07
4,c017-h5000m,"POLYGON ((-67.31365 42.45612, -67.26163 42.432...",POINT (-67.31485 42.41111),-67.314855,42.411107,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,8662.002385,8663.417673,3.459168e+07,3.460298e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,c147-h5000m,"POLYGON ((-68.30888 42.93923, -68.25609 42.916...",POINT (-68.30939 42.89421),-68.309387,42.894207,p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,3.690818e+05,3.693483e+05
119,c148-h5000m,"POLYGON ((-68.20275 42.93854, -68.14999 42.915...",POINT (-68.20333 42.89352),-68.203329,42.893518,p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,4.353824e+05,4.356856e+05
120,c149-h5000m,"POLYGON ((-68.09662 42.93775, -68.0439 42.9148...",POINT (-68.09727 42.89273),-68.097274,42.892731,p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,5.225598e+05,5.229082e+05
121,c158-h5000m,"POLYGON ((-67.1417 42.92623, -67.08936 42.9028...",POINT (-67.14305 42.88123),-67.143051,42.881228,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,NaN,NaN,6.821518e+06,6.822958e+06
122,c159-h5000m,"POLYGON ((-67.03564 42.92446, -66.98334 42.901...",POINT (-67.03707 42.87946),-67.037066,42.879459,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,4780.422232,4780.893027,1.340119e+07,1.340372e+07

#### ```Samples.save```

In [15]:
u_samples.save(
    folder=export_folder,
    filetype='both'
)

#### Samples attributes

In [16]:
u_samples.name

'samples-sightings+effort-x-cells-h5000m-x-periods-8d'

In [17]:
u_samples.parameters

{'name': 'samples-sightings+effort-x-cells-h5000m-x-periods-8d',
 'names': 'samples-datapoints-sightings-x-cells-h5000m-x-periods-8d+samples-sections-sections-x-cells-h5000m-x-periods-8d',
 'approach': 'grid',
 'resampled': 'datapoints; effort',
 'datapoints_name': 'datapoints-sightings; nan',
 'datapoints_filepath': 'C:/Users/jsyme/My Drive/JSBigelow/Packages/sampley/tests/import/sightings.csv; nan',
 'datapoints_crs': 'EPSG:32619; nan',
 'datapoints_tz': 'UTC-05:00; nan',
 'datapoints_data_cols': 'individuals, season; nan',
 'cells_name': 'cells-h5000m',
 'cells_crs': 'EPSG:32619',
 'cells_extent': '495765.49253164633, 4691798.086839909, 673300.7003074563, 4761798.086839909',
 'cells_extent_source': 'Sections - sections-sections',
 'cells_var': 'hexagonal',
 'cells_side': '5000',
 'cells_unit': 'metre',
 'cells_buffer': 'None',
 'periods_name': 'periods-8d',
 'periods_tz': 'UTC-05:00',
 'periods_extent': '2019-01-25-2019-03-05',
 'periods_extent_source': 'Sections - sections-sections',
 'periods_number': '8',
 'periods_unit': 'day',
 'cols': "{'individuals': 'sum'}; nan",
 'sections_name': 'nan; sections-sections',
 'sections_filepath': 'nan; C:/Users/jsyme/My Drive/JSBigelow/Packages/sampley/tests/import/sections.gpkg',
 'sections_crs': 'nan; EPSG:32619',
 'sections_tz': 'nan; UTC-05:00',
 'effort_esw': 'nan; 2000.0',
 'effort_euc-geo': 'nan; both',
 'samples_crs': 'EPSG:4326'}

In [18]:
u_samples.samples

,cell_id,polygon,centroid,centroid_lon,centroid_lat,period_id,date_beg,date_mid,date_end,individuals,se_length,se_length_geo,se_area,se_area_geo
0,c013-h5000m,"POLYGON ((-67.73483 42.46154, -67.68265 42.438...",POINT (-67.73573 42.41652),-67.735734,42.416523,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,6000.522001,6002.103007,2.400223e+07,2.401489e+07
1,c014-h5000m,"POLYGON ((-67.62952 42.46033, -67.57738 42.437...",POINT (-67.6305 42.41531),-67.630504,42.415314,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,4.0,8662.115497,8664.227051,3.464837e+07,3.466526e+07
2,c015-h5000m,"POLYGON ((-67.52422 42.45902, -67.47212 42.435...",POINT (-67.52528 42.41401),-67.525280,42.414008,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,2.0,8661.560380,8663.455712,3.464624e+07,3.466141e+07
3,c016-h5000m,"POLYGON ((-67.41893 42.45762, -67.36687 42.434...",POINT (-67.42006 42.41261),-67.420063,42.412606,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,8662.595905,8664.259376,3.464356e+07,3.465686e+07
4,c017-h5000m,"POLYGON ((-67.31365 42.45612, -67.26163 42.432...",POINT (-67.31485 42.41111),-67.314855,42.411107,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,8662.002385,8663.417673,3.459168e+07,3.460298e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,c147-h5000m,"POLYGON ((-68.30888 42.93923, -68.25609 42.916...",POINT (-68.30939 42.89421),-68.309387,42.894207,p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,3.690818e+05,3.693483e+05
119,c148-h5000m,"POLYGON ((-68.20275 42.93854, -68.14999 42.915...",POINT (-68.20333 42.89352),-68.203329,42.893518,p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,4.353824e+05,4.356856e+05
120,c149-h5000m,"POLYGON ((-68.09662 42.93775, -68.0439 42.9148...",POINT (-68.09727 42.89273),-68.097274,42.892731,p2019-01-25-8d,2019-01-25 00:00:00-05:00,2019-01-29 00:00:00-05:00,2019-02-01 00:00:00-05:00,NaN,NaN,NaN,5.225598e+05,5.229082e+05
121,c158-h5000m,"POLYGON ((-67.1417 42.92623, -67.08936 42.9028...",POINT (-67.14305 42.88123),-67.143051,42.881228,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,NaN,NaN,6.821518e+06,6.822958e+06
122,c159-h5000m,"POLYGON ((-67.03564 42.92446, -66.98334 42.901...",POINT (-67.03707 42.87946),-67.037066,42.879459,p2019-02-26-8d,2019-02-26 00:00:00-05:00,2019-03-02 00:00:00-05:00,2019-03-05 00:00:00-05:00,NaN,4780.422232,4780.893027,1.340119e+07,1.340372e+07

### Segment approach

#### Set up

In [19]:
u_sightings = DataPoints.from_file(
    filepath=import_folder+'sightings.csv',
    x_col='lon',
    y_col='lat',
    crs_import='EPSG:4326',
    crs_working='EPSG:32619',
    datetime_col='datetime',
    tz_import='UTC-05:00'
)
u_trackpoints = DataPoints.from_file(
    filepath=import_folder+'trackpoints.csv',
    x_col='lon',
    y_col='lat',
    crs_import='EPSG:4326',
    crs_working='EPSG:32619',
    datetime_col='datetime',
    tz_import='UTC-05:00',
    section_id_col='section_id'  
)
u_sections = Sections.from_datapoints(datapoints=u_trackpoints)
u_segments = Segments.delimit(
    sections=u_sections,
    var='redistribution',
    target=10000)

Success: file opened.
Success: X and Y coordinates parsed.
Success: reprojected to CRS "EPSG:32619"
Success: column "datetime" reformatted to datetimes.
Success: timezone of column "datetime" set to "UTC-05:00".
Success: datapoint IDs generated.
Success: file opened.
Success: X and Y coordinates parsed.
Success: reprojected to CRS "EPSG:32619"
Success: column "datetime" reformatted to datetimes.
Success: timezone of column "datetime" set to "UTC-05:00".
Success: datapoint IDs generated.

### ```Samples.segment```

##### ```how=line```

In [20]:
u_samples_sightings = Samples.segment(
    datapoints=u_sightings,
    segments=u_segments,
    cols={'individuals': 'sum'},
    how='line')
u_samples_sightings.samples

,segment_id,line,midpoint,date,section_id,dfbsec_beg,dfbsec_end,individuals
0,s01-r10000m,"LINESTRING (580092.757 4742883.408, 579997.135...",POINT (575093.021 4742845.959),2019-01-25,s001,0.000000,10000.580283,1.0
1,s02-r10000m,"LINESTRING (570093.642 4742829.91, 569917.081 ...",POINT (565093.86 4742799.716),2019-01-25,s001,10000.580283,20001.160565,NaN
2,s03-r10000m,"LINESTRING (560093.988 4742773.153, 559864.339...",POINT (555094.071 4742749.107),2019-01-25,s001,20001.160565,30001.740848,2.0
3,s04-r10000m,"LINESTRING (550093.926 4742710.923, 549838.842...",POINT (545093.756 4742676.369),2019-01-25,s001,30001.740848,40002.321130,5.0
4,s05-r10000m,"LINESTRING (540093.561 4742645.442, 539704.822...",POINT (535094.224 4742648.431),2019-01-25,s001,40002.321130,50002.901413,NaN
...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (652980.044 4697677.144, 652979.945...",POINT (647917.17 4697623.667),2019-03-05,s004,273463.867857,283592.159259,NaN
65,s66-r10000m,"LINESTRING (642854.209 4697537.196, 642721.486...",POINT (637791.127 4697454.392),2019-03-05,s004,283592.159259,293720.450662,NaN
66,s67-r10000m,"LINESTRING (632727.93 4697356.37, 632683.219 4...",POINT (627664.663 4697262.02),2019-03-05,s004,293720.450662,303848.742064,NaN
67,s68-r10000m,"LINESTRING (622602.172 4697152.471, 622357.753...",POINT (617538.774 4697065.46),2019-03-05,s004,303848.742064,313977.033466,2.0
68,s69-r10000m,"LINESTRING (612475.314 4696982.119, 612333.116...",POINT (607412.53 4696883.577),2019-03-05,s004,313977.033466,324105.324868,4.0

##### ```how=midpoint```

In [21]:
u_samples_sightings = Samples.segment(
    datapoints=u_sightings,
    segments=u_segments,
    cols={'individuals': 'sum'},
    how='midpoint')
u_samples_sightings.samples

,segment_id,line,midpoint,date,section_id,dfbsec_beg,dfbsec_end,individuals
0,s01-r10000m,"LINESTRING (580092.757 4742883.408, 579997.135...",POINT (575093.021 4742845.959),2019-01-25,s001,0.000000,10000.580283,1.0
1,s02-r10000m,"LINESTRING (570093.642 4742829.91, 569917.081 ...",POINT (565093.86 4742799.716),2019-01-25,s001,10000.580283,20001.160565,NaN
2,s03-r10000m,"LINESTRING (560093.988 4742773.153, 559864.339...",POINT (555094.071 4742749.107),2019-01-25,s001,20001.160565,30001.740848,2.0
3,s04-r10000m,"LINESTRING (550093.926 4742710.923, 549838.842...",POINT (545093.756 4742676.369),2019-01-25,s001,30001.740848,40002.321130,5.0
4,s05-r10000m,"LINESTRING (540093.561 4742645.442, 539704.822...",POINT (535094.224 4742648.431),2019-01-25,s001,40002.321130,50002.901413,NaN
...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (652980.044 4697677.144, 652979.945...",POINT (647917.17 4697623.667),2019-03-05,s004,273463.867857,283592.159259,NaN
65,s66-r10000m,"LINESTRING (642854.209 4697537.196, 642721.486...",POINT (637791.127 4697454.392),2019-03-05,s004,283592.159259,293720.450662,NaN
66,s67-r10000m,"LINESTRING (632727.93 4697356.37, 632683.219 4...",POINT (627664.663 4697262.02),2019-03-05,s004,293720.450662,303848.742064,NaN
67,s68-r10000m,"LINESTRING (622602.172 4697152.471, 622357.753...",POINT (617538.774 4697065.46),2019-03-05,s004,303848.742064,313977.033466,2.0
68,s69-r10000m,"LINESTRING (612475.314 4696982.119, 612333.116...",POINT (607412.53 4696883.577),2019-03-05,s004,313977.033466,324105.324868,4.0

##### ```how=datetime```

In [22]:
u_segments.datetimes(datapoints=u_trackpoints)
u_samples_sightings = Samples.segment(
    datapoints=u_trackpoints,
    segments=u_segments,
    cols={'individuals': 'sum'},
    how='datetime')
u_samples_sightings.samples

,segment_id,line,midpoint,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,individuals
0,s01-r10000m,"LINESTRING (580092.757 4742883.408, 579997.135...",POINT (575093.021 4742845.959),2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,1.0
1,s02-r10000m,"LINESTRING (570093.642 4742829.91, 569917.081 ...",POINT (565093.86 4742799.716),2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,0.0
2,s03-r10000m,"LINESTRING (560093.988 4742773.153, 559864.339...",POINT (555094.071 4742749.107),2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,2.0
3,s04-r10000m,"LINESTRING (550093.926 4742710.923, 549838.842...",POINT (545093.756 4742676.369),2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,5.0
4,s05-r10000m,"LINESTRING (540093.561 4742645.442, 539704.822...",POINT (535094.224 4742648.431),2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,0.0
...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (652980.044 4697677.144, 652979.945...",POINT (647917.17 4697623.667),2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,0.0
65,s66-r10000m,"LINESTRING (642854.209 4697537.196, 642721.486...",POINT (637791.127 4697454.392),2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,0.0
66,s67-r10000m,"LINESTRING (632727.93 4697356.37, 632683.219 4...",POINT (627664.663 4697262.02),2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,0.0
67,s68-r10000m,"LINESTRING (622602.172 4697152.471, 622357.753...",POINT (617538.774 4697065.46),2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,2.0
68,s69-r10000m,"LINESTRING (612475.314 4696982.119, 612333.116...",POINT (607412.53 4696883.577),2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,4.0

##### ```how=dfb```

In [23]:
u_samples_sightings = Samples.segment(
    datapoints=u_trackpoints,
    segments=u_segments,
    cols={'individuals': 'sum'},
    how='dfb')
u_samples_sightings.samples

,segment_id,line,midpoint,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,individuals
0,s01-r10000m,"LINESTRING (580092.757 4742883.408, 579997.135...",POINT (575093.021 4742845.959),2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,1.0
1,s02-r10000m,"LINESTRING (570093.642 4742829.91, 569917.081 ...",POINT (565093.86 4742799.716),2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,0.0
2,s03-r10000m,"LINESTRING (560093.988 4742773.153, 559864.339...",POINT (555094.071 4742749.107),2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,2.0
3,s04-r10000m,"LINESTRING (550093.926 4742710.923, 549838.842...",POINT (545093.756 4742676.369),2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,5.0
4,s05-r10000m,"LINESTRING (540093.561 4742645.442, 539704.822...",POINT (535094.224 4742648.431),2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,0.0
...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (652980.044 4697677.144, 652979.945...",POINT (647917.17 4697623.667),2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,0.0
65,s66-r10000m,"LINESTRING (642854.209 4697537.196, 642721.486...",POINT (637791.127 4697454.392),2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,0.0
66,s67-r10000m,"LINESTRING (632727.93 4697356.37, 632683.219 4...",POINT (627664.663 4697262.02),2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,0.0
67,s68-r10000m,"LINESTRING (622602.172 4697152.471, 622357.753...",POINT (617538.774 4697065.46),2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,2.0
68,s69-r10000m,"LINESTRING (612475.314 4696982.119, 612333.116...",POINT (607412.53 4696883.577),2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,4.0

#### ```Samples.segment_se```

In [24]:
u_samples_effort = Samples.segment_se(
    segments=u_segments,
    length=True,
    esw=2000,
    audf=1234,
    euc_geo='both')
u_samples_effort.samples

,segment_id,line,midpoint,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,se_length,se_area,se_effective,se_length_geo,se_area_geo,se_effective_geo
0,s01-r10000m,"LINESTRING (580092.757 4742883.408, 579997.135...",POINT (575093.021 4742845.959),2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,10000.580283,4.000232e+07,2.468143e+07,10003.886818,4.001555e+07,2.468959e+07
1,s02-r10000m,"LINESTRING (570093.642 4742829.91, 569917.081 ...",POINT (565093.86 4742799.716),2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,10000.580283,4.000232e+07,2.468143e+07,10004.059397,4.001624e+07,2.469002e+07
2,s03-r10000m,"LINESTRING (560093.988 4742773.153, 559864.339...",POINT (555094.071 4742749.107),2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,10000.580283,4.000232e+07,2.468143e+07,10004.207367,4.001683e+07,2.469038e+07
3,s04-r10000m,"LINESTRING (550093.926 4742710.923, 549838.842...",POINT (545093.756 4742676.369),2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,10000.580283,4.000232e+07,2.468143e+07,10004.330722,4.001732e+07,2.469069e+07
4,s05-r10000m,"LINESTRING (540093.561 4742645.442, 539704.822...",POINT (535094.224 4742648.431),2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,10000.580283,4.000232e+07,2.468143e+07,10004.429448,4.001772e+07,2.469093e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (652980.044 4697677.144, 652979.945...",POINT (647917.17 4697623.667),2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,10128.291402,4.051317e+07,2.499662e+07,10129.615267,4.051846e+07,2.499989e+07
65,s66-r10000m,"LINESTRING (642854.209 4697537.196, 642721.486...",POINT (637791.127 4697454.392),2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,10128.291402,4.051317e+07,2.499662e+07,10129.975917,4.051990e+07,2.500078e+07
66,s67-r10000m,"LINESTRING (632727.93 4697356.37, 632683.219 4...",POINT (627664.663 4697262.02),2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,10128.291402,4.051317e+07,2.499662e+07,10130.311023,4.052124e+07,2.500161e+07
67,s68-r10000m,"LINESTRING (622602.172 4697152.471, 622357.753...",POINT (617538.774 4697065.46),2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,10128.291402,4.051317e+07,2.499662e+07,10130.620584,4.052248e+07,2.500237e+07
68,s69-r10000m,"LINESTRING (612475.314 4696982.119, 612333.116...",POINT (607412.53 4696883.577),2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,10128.291402,4.051317e+07,2.499662e+07,10130.904568,4.052362e+07,2.500307e+07

#### ```Samples.merge```

In [25]:
u_samples_sightings = Samples.segment(
    datapoints=u_trackpoints,
    segments=u_segments,
    cols={'individuals': 'sum'},
    how='dfb')
u_samples_effort = Samples.segment_se(
    segments=u_segments,
    length=True,
    esw=2000,
    audf=1234,
    euc_geo='both')
u_samples = Samples.merge(
    sightings=u_samples_sightings,
    effort=u_samples_effort)
u_samples.samples

Note: samples generated with the segment approach

,segment_id,line,midpoint,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,individuals,se_length,se_area,se_effective,se_length_geo,se_area_geo,se_effective_geo
0,s01-r10000m,"LINESTRING (580092.757 4742883.408, 579997.135...",POINT (575093.021 4742845.959),2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,1.0,10000.580283,4.000232e+07,2.468143e+07,10003.886818,4.001555e+07,2.468959e+07
1,s02-r10000m,"LINESTRING (570093.642 4742829.91, 569917.081 ...",POINT (565093.86 4742799.716),2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.059397,4.001624e+07,2.469002e+07
2,s03-r10000m,"LINESTRING (560093.988 4742773.153, 559864.339...",POINT (555094.071 4742749.107),2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,2.0,10000.580283,4.000232e+07,2.468143e+07,10004.207367,4.001683e+07,2.469038e+07
3,s04-r10000m,"LINESTRING (550093.926 4742710.923, 549838.842...",POINT (545093.756 4742676.369),2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,5.0,10000.580283,4.000232e+07,2.468143e+07,10004.330722,4.001732e+07,2.469069e+07
4,s05-r10000m,"LINESTRING (540093.561 4742645.442, 539704.822...",POINT (535094.224 4742648.431),2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.429448,4.001772e+07,2.469093e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (652980.044 4697677.144, 652979.945...",POINT (647917.17 4697623.667),2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.615267,4.051846e+07,2.499989e+07
65,s66-r10000m,"LINESTRING (642854.209 4697537.196, 642721.486...",POINT (637791.127 4697454.392),2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.975917,4.051990e+07,2.500078e+07
66,s67-r10000m,"LINESTRING (632727.93 4697356.37, 632683.219 4...",POINT (627664.663 4697262.02),2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,0.0,10128.291402,4.051317e+07,2.499662e+07,10130.311023,4.052124e+07,2.500161e+07
67,s68-r10000m,"LINESTRING (622602.172 4697152.471, 622357.753...",POINT (617538.774 4697065.46),2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,2.0,10128.291402,4.051317e+07,2.499662e+07,10130.620584,4.052248e+07,2.500237e+07
68,s69-r10000m,"LINESTRING (612475.314 4696982.119, 612333.116...",POINT (607412.53 4696883.577),2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,4.0,10128.291402,4.051317e+07,2.499662e+07,10130.904568,4.052362e+07,2.500307e+07

#### ```Samples.reproject```

In [26]:
u_samples.reproject(crs_target='EPSG:4326')
u_samples.samples

Success: additional geometry column "midpoint" reprojected to CRS "EPSG:4326"
Success: reprojected to CRS "EPSG:4326"

,segment_id,line,midpoint,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,individuals,se_length,se_area,se_effective,se_length_geo,se_area_geo,se_effective_geo
0,s01-r10000m,"LINESTRING (-68.02 42.83433, -68.02117 42.8343...",POINT (-68.08117 42.8345),2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,1.0,10000.580283,4.000232e+07,2.468143e+07,10003.886818,4.001555e+07,2.468959e+07
1,s02-r10000m,"LINESTRING (-68.14234 42.83483, -68.1445 42.83...",POINT (-68.20351 42.835),2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.059397,4.001624e+07,2.469002e+07
2,s03-r10000m,"LINESTRING (-68.26469 42.83517, -68.2675 42.83...",POINT (-68.32587 42.83533),2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,2.0,10000.580283,4.000232e+07,2.468143e+07,10004.207367,4.001683e+07,2.469038e+07
3,s04-r10000m,"LINESTRING (-68.38705 42.83533, -68.39017 42.8...",POINT (-68.44823 42.83533),2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,5.0,10000.580283,4.000232e+07,2.468143e+07,10004.330722,4.001732e+07,2.469069e+07
4,s05-r10000m,"LINESTRING (-68.50941 42.83533, -68.51417 42.8...",POINT (-68.57058 42.8356),2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.429448,4.001772e+07,2.469093e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (-67.14067 42.41633, -67.14067 42.4...",POINT (-67.20219 42.41683),2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.615267,4.051846e+07,2.499989e+07
65,s66-r10000m,"LINESTRING (-67.26372 42.417, -67.26533 42.417...",POINT (-67.32525 42.41717),2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.975917,4.051990e+07,2.500078e+07
66,s67-r10000m,"LINESTRING (-67.38679 42.41717, -67.38733 42.4...",POINT (-67.44833 42.41717),2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,0.0,10128.291402,4.051317e+07,2.499662e+07,10130.311023,4.052124e+07,2.500161e+07
67,s68-r10000m,"LINESTRING (-67.50986 42.417, -67.51283 42.417...",POINT (-67.5714 42.417),2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,2.0,10128.291402,4.051317e+07,2.499662e+07,10130.620584,4.052248e+07,2.500237e+07
68,s69-r10000m,"LINESTRING (-67.63294 42.417, -67.63467 42.417...",POINT (-67.69448 42.41683),2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,4.0,10128.291402,4.051317e+07,2.499662e+07,10130.904568,4.052362e+07,2.500307e+07

#### ```Samples.coords```

In [27]:
u_samples.coords()
u_samples.samples

,segment_id,line,midpoint,midpoint_lon,midpoint_lat,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,individuals,se_length,se_area,se_effective,se_length_geo,se_area_geo,se_effective_geo
0,s01-r10000m,"LINESTRING (-68.02 42.83433, -68.02117 42.8343...",POINT (-68.08117 42.8345),-68.081173,42.834500,2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,1.0,10000.580283,4.000232e+07,2.468143e+07,10003.886818,4.001555e+07,2.468959e+07
1,s02-r10000m,"LINESTRING (-68.14234 42.83483, -68.1445 42.83...",POINT (-68.20351 42.835),-68.203514,42.835000,2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.059397,4.001624e+07,2.469002e+07
2,s03-r10000m,"LINESTRING (-68.26469 42.83517, -68.2675 42.83...",POINT (-68.32587 42.83533),-68.325867,42.835330,2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,2.0,10000.580283,4.000232e+07,2.468143e+07,10004.207367,4.001683e+07,2.469038e+07
3,s04-r10000m,"LINESTRING (-68.38705 42.83533, -68.39017 42.8...",POINT (-68.44823 42.83533),-68.448231,42.835330,2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,5.0,10000.580283,4.000232e+07,2.468143e+07,10004.330722,4.001732e+07,2.469069e+07
4,s05-r10000m,"LINESTRING (-68.50941 42.83533, -68.51417 42.8...",POINT (-68.57058 42.8356),-68.570584,42.835603,2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.429448,4.001772e+07,2.469093e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (-67.14067 42.41633, -67.14067 42.4...",POINT (-67.20219 42.41683),-67.202187,42.416830,2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.615267,4.051846e+07,2.499989e+07
65,s66-r10000m,"LINESTRING (-67.26372 42.417, -67.26533 42.417...",POINT (-67.32525 42.41717),-67.325249,42.417170,2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.975917,4.051990e+07,2.500078e+07
66,s67-r10000m,"LINESTRING (-67.38679 42.41717, -67.38733 42.4...",POINT (-67.44833 42.41717),-67.448326,42.417170,2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,0.0,10128.291402,4.051317e+07,2.499662e+07,10130.311023,4.052124e+07,2.500161e+07
67,s68-r10000m,"LINESTRING (-67.50986 42.417, -67.51283 42.417...",POINT (-67.5714 42.417),-67.571400,42.417000,2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,2.0,10128.291402,4.051317e+07,2.499662e+07,10130.620584,4.052248e+07,2.500237e+07
68,s69-r10000m,"LINESTRING (-67.63294 42.417, -67.63467 42.417...",POINT (-67.69448 42.41683),-67.694479,42.416830,2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,4.0,10128.291402,4.051317e+07,2.499662e+07,10130.904568,4.052362e+07,2.500307e+07

#### ```Samples.save```

In [28]:
u_samples.save(
    folder=export_folder,
    filetype='both'
)

#### Samples attributes

In [29]:
u_samples.name

'samples-sightings+effort-x-segments-r10000m'

In [30]:
u_samples.parameters

{'name': 'samples-sightings+effort-x-segments-r10000m',
 'names': 'samples-datapoints-trackpoints-x-segments-r10000m+samples-sections-trackpoints-x-segments-r10000m',
 'approach': 'segment',
 'resampled': 'datapoints; effort',
 'datapoints_name': 'datapoints-trackpoints; nan',
 'datapoints_filepath': 'C:/Users/jsyme/My Drive/JSBigelow/Packages/sampley/tests/import/trackpoints.csv; nan',
 'datapoints_crs': 'EPSG:32619; nan',
 'datapoints_tz': 'UTC-05:00; nan',
 'datapoints_data_cols': 'section_id, individuals, bss, season; nan',
 'segments_name': 'segments-r10000m',
 'sections_name': 'sections-trackpoints',
 'segments_crs': 'EPSG:32619',
 'segments_var': 'redistribution',
 'segments_rand': 'False',
 'segments_target': '10000',
 'segments_unit': 'metre',
 'cols': "{'individuals': 'sum'}; nan",
 'effort_esw': 'nan; 2000.0',
 'effort_audf': 'nan; 1234.0',
 'effort_euc-geo': 'nan; both',
 'samples_crs': 'EPSG:4326'}

In [31]:
u_samples.samples

,segment_id,line,midpoint,midpoint_lon,midpoint_lat,date,datetime_beg,datetime_mid,datetime_end,section_id,dfbsec_beg,dfbsec_end,individuals,se_length,se_area,se_effective,se_length_geo,se_area_geo,se_effective_geo
0,s01-r10000m,"LINESTRING (-68.02 42.83433, -68.02117 42.8343...",POINT (-68.08117 42.8345),-68.081173,42.834500,2019-01-25,2019-01-25 10:18:13-05:00,2019-01-25 10:19:55-05:00,2019-01-25 10:21:38-05:00,s001,0.000000,10000.580283,1.0,10000.580283,4.000232e+07,2.468143e+07,10003.886818,4.001555e+07,2.468959e+07
1,s02-r10000m,"LINESTRING (-68.14234 42.83483, -68.1445 42.83...",POINT (-68.20351 42.835),-68.203514,42.835000,2019-01-25,2019-01-25 10:21:38-05:00,2019-01-25 10:23:17-05:00,2019-01-25 10:24:57-05:00,s001,10000.580283,20001.160565,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.059397,4.001624e+07,2.469002e+07
2,s03-r10000m,"LINESTRING (-68.26469 42.83517, -68.2675 42.83...",POINT (-68.32587 42.83533),-68.325867,42.835330,2019-01-25,2019-01-25 10:24:57-05:00,2019-01-25 10:26:37-05:00,2019-01-25 10:28:17-05:00,s001,20001.160565,30001.740848,2.0,10000.580283,4.000232e+07,2.468143e+07,10004.207367,4.001683e+07,2.469038e+07
3,s04-r10000m,"LINESTRING (-68.38705 42.83533, -68.39017 42.8...",POINT (-68.44823 42.83533),-68.448231,42.835330,2019-01-25,2019-01-25 10:28:17-05:00,2019-01-25 10:29:56-05:00,2019-01-25 10:31:35-05:00,s001,30001.740848,40002.321130,5.0,10000.580283,4.000232e+07,2.468143e+07,10004.330722,4.001732e+07,2.469069e+07
4,s05-r10000m,"LINESTRING (-68.50941 42.83533, -68.51417 42.8...",POINT (-68.57058 42.8356),-68.570584,42.835603,2019-01-25,2019-01-25 10:31:35-05:00,2019-01-25 10:33:14-05:00,2019-01-25 10:34:53-05:00,s001,40002.321130,50002.901413,0.0,10000.580283,4.000232e+07,2.468143e+07,10004.429448,4.001772e+07,2.469093e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,s65-r10000m,"LINESTRING (-67.14067 42.41633, -67.14067 42.4...",POINT (-67.20219 42.41683),-67.202187,42.416830,2019-03-05,2019-03-05 12:51:07-05:00,2019-03-05 12:52:58-05:00,2019-03-05 12:54:50-05:00,s004,273463.867857,283592.159259,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.615267,4.051846e+07,2.499989e+07
65,s66-r10000m,"LINESTRING (-67.26372 42.417, -67.26533 42.417...",POINT (-67.32525 42.41717),-67.325249,42.417170,2019-03-05,2019-03-05 12:54:50-05:00,2019-03-05 12:56:39-05:00,2019-03-05 12:58:29-05:00,s004,283592.159259,293720.450662,0.0,10128.291402,4.051317e+07,2.499662e+07,10129.975917,4.051990e+07,2.500078e+07
66,s67-r10000m,"LINESTRING (-67.38679 42.41717, -67.38733 42.4...",POINT (-67.44833 42.41717),-67.448326,42.417170,2019-03-05,2019-03-05 12:58:29-05:00,2019-03-05 13:00:21-05:00,2019-03-05 13:02:14-05:00,s004,293720.450662,303848.742064,0.0,10128.291402,4.051317e+07,2.499662e+07,10130.311023,4.052124e+07,2.500161e+07
67,s68-r10000m,"LINESTRING (-67.50986 42.417, -67.51283 42.417...",POINT (-67.5714 42.417),-67.571400,42.417000,2019-03-05,2019-03-05 13:02:14-05:00,2019-03-05 13:04:07-05:00,2019-03-05 13:06:00-05:00,s004,303848.742064,313977.033466,2.0,10128.291402,4.051317e+07,2.499662e+07,10130.620584,4.052248e+07,2.500237e+07
68,s69-r10000m,"LINESTRING (-67.63294 42.417, -67.63467 42.417...",POINT (-67.69448 42.41683),-67.694479,42.416830,2019-03-05,2019-03-05 13:06:00-05:00,2019-03-05 13:07:53-05:00,2019-03-05 13:09:46-05:00,s004,313977.033466,324105.324868,4.0,10128.291402,4.051317e+07,2.499662e+07,10130.904568,4.052362e+07,2.500307e+07

### Point approach

#### Set up

In [32]:
u_trackpoints = DataPoints.from_file(
    filepath=import_folder+'trackpoints.csv',
    x_col='lon',
    y_col='lat',
    crs_import='EPSG:4326',
    crs_working='EPSG:32619',
    datetime_col='datetime',
    tz_import='UTC-05:00',
    section_id_col='section_id'  
)
u_sections = Sections.from_datapoints(
    datapoints=u_trackpoints, 
    cols={'season': 'first'})
u_presences = Presences.delimit(
    datapoints=u_trackpoints,
    presence_col='individuals',
    block='season')
u_presencezones = PresenceZones.delimit(
    sections=u_sections,
    presences=u_presences,
    sp_threshold=10000,
    tm_threshold=0,
    tm_unit='day',
)
u_absences = Absences.delimit(
    sections=u_sections,
    presencezones=u_presencezones,
    var='along',
    target=25,
    block='season',
    how='target')

Success: file opened.
Success: X and Y coordinates parsed.
Success: reprojected to CRS "EPSG:32619"
Success: column "datetime" reformatted to datetimes.
Success: timezone of column "datetime" set to "UTC-05:00".
Success: datapoint IDs generated.

Block: winter
Target: 25 | Attempts: 31 | Successes: 25

Block: spring
Target: 25 | Attempts: 49 | Successes: 25

#### ```Samples.point```

In [33]:
u_samples = Samples.point(
    presences=u_presences,
    absences=u_absences,
    datapoints_p=u_trackpoints,
    cols_p=['individuals', 'bss', 'section_id'],
    datapoints_a=u_trackpoints,
    cols_a=['individuals', 'bss'])
u_samples.samples

,point_id,point,date,datapoint_id,p-a,season,individuals,bss,section_id,dfbs
0,p01,POINT (579166.78 4742872.701),2019-01-25,d0004,1,winter,1.0,2,s001,NaN
1,p02,POINT (554184.217 4742741.886),2019-01-25,d0068,1,winter,2.0,2,s001,NaN
2,p03,POINT (548599.876 4742700.214),2019-01-25,d0082,1,winter,5.0,2,s001,NaN
3,p04,POINT (520909.741 4714855.058),2019-03-02,d0480,1,spring,1.0,1,s003,NaN
4,p05,POINT (532548.249 4714899.835),2019-03-02,d0510,1,spring,2.0,1,s003,NaN
...,...,...,...,...,...,...,...,...,...,...
58,a46,POINT (616845.546 4715566.347),2019-03-05,d0965,0,spring,NaN,0,s004,385533.730877
59,a47,POINT (615074.73 4715536.785),2019-03-05,d0969,0,spring,NaN,0,s004,387304.793258
60,a48,POINT (615886.972 4706293.452),2019-03-05,d1062,0,spring,NaN,0,s004,421076.442172
61,a49,POINT (647105.364 4697606.527),2019-03-05,d1214,0,spring,NaN,0,s004,481673.418869
62,a50,POINT (642230.628 4697524.474),2019-03-05,d1225,0,spring,NaN,0,s004,486549.288708

In [34]:
u_samples = Samples.point(
    presences=u_presences,
    absences=u_absences,
    datapoints_p=u_trackpoints,
    cols_p=['individuals', 'bss', 'section_id'],
    datapoints_a=u_trackpoints,
    cols_a=['individuals', 'bss'],
    block='season')
u_samples.samples

,point_id,point,date,datapoint_id,p-a,season,individuals,bss,section_id,dfbs
0,p01,POINT (579166.78 4742872.701),2019-01-25,d0004,1,winter,1.0,2,s001,NaN
1,p02,POINT (554184.217 4742741.886),2019-01-25,d0068,1,winter,2.0,2,s001,NaN
2,p03,POINT (548599.876 4742700.214),2019-01-25,d0082,1,winter,5.0,2,s001,NaN
3,p04,POINT (520909.741 4714855.058),2019-03-02,d0480,1,spring,1.0,1,s003,NaN
4,p05,POINT (532548.249 4714899.835),2019-03-02,d0510,1,spring,2.0,1,s003,NaN
...,...,...,...,...,...,...,...,...,...,...
58,a46,POINT (616845.546 4715566.347),2019-03-05,d1408,0,spring,NaN,2,s004,385533.730877
59,a47,POINT (615074.73 4715536.785),2019-03-05,d1413,0,spring,NaN,2,s004,387304.793258
60,a48,POINT (615886.972 4706293.452),2019-03-05,d1495,0,spring,NaN,2,s004,421076.442172
61,a49,POINT (647105.364 4697606.527),2019-03-05,d1640,0,spring,NaN,2,s004,481673.418869
62,a50,POINT (642230.628 4697524.474),2019-03-05,d1654,0,spring,NaN,2,s004,486549.288708

#### ```Samples.thin```

In [35]:
u_samples.thin(
    coords='point', 
    sp_threshold=10000,
    datetimes='date',
    tm_threshold=5,
    tm_unit='day'
)
u_samples.samples

,point_id,point,date,datapoint_id,p-a,season,individuals,bss,section_id,dfbs
0,p01,POINT (579166.78 4742872.701),2019-01-25,d0004,1,winter,1.0,2,s001,NaN
1,p03,POINT (548599.876 4742700.214),2019-01-25,d0082,1,winter,5.0,2,s001,NaN
2,p04,POINT (520909.741 4714855.058),2019-03-02,d0480,1,spring,1.0,1,s003,NaN
3,p05,POINT (532548.249 4714899.835),2019-03-02,d0510,1,spring,2.0,1,s003,NaN
4,p06,POINT (512817.407 4705582.465),2019-03-02,d0910,1,spring,1.0,1,s003,NaN
5,p08,POINT (654449.136 4716189.584),2019-03-05,d1306,1,spring,5.0,1,s004,NaN
6,p10,POINT (643532.681 4716066.52),2019-03-05,d1336,1,spring,1.0,2,s004,NaN
7,p11,POINT (629124.489 4706545.106),2019-03-05,d1527,1,spring,3.0,2,s004,NaN
8,p13,POINT (611976.857 4696974.111),2019-03-05,d1739,1,spring,4.0,3,s004,NaN
9,a01,POINT (536510.473 4742663.27),2019-01-25,d0112,0,winter,NaN,3,s001,43586.126727
10,a04,POINT (516424.03 4742586.079),2019-01-25,d0165,0,winter,NaN,2,s001,63674.485084
11,a05,POINT (584125.161 4733657.795),2019-01-30,d0227,0,winter,NaN,3,s002,88809.824195
12,a07,POINT (569752.127 4733572.094),2019-01-30,d0260,0,winter,NaN,3,s002,103184.456868
13,a14,POINT (556217.175 4733523.075),2019-01-30,d0291,0,winter,NaN,3,s002,116720.793342
14,a18,POINT (541669.993 4733437.76),2019-01-30,d0325,0,winter,NaN,3,s002,131268.591583
15,a20,POINT (529637.186 4733394.525),2019-01-30,d0354,0,winter,NaN,3,s002,143301.874679
16,a26,POINT (555463.385 4715027.22),2019-03-02,d0568,0,spring,NaN,1,s003,55085.614953
17,a28,POINT (572409.291 4715108.771),2019-03-02,d0610,0,spring,NaN,1,s003,72034.118891
18,a30,POINT (566905.11 4705891.901),2019-03-02,d0774,0,spring,NaN,2,s003,135683.698206
19,a33,POINT (548666.953 4705777.286),2019-03-02,d0820,0,spring,NaN,2,s003,153923.160087
20,a35,POINT (538409.242 4705732.063),2019-03-02,d0846,0,spring,NaN,2,s003,164181.394745
21,a36,POINT (656831.771 4736602.391),2019-03-05,d0975,0,spring,NaN,0,s004,216949.539643
22,a37,POINT (646717.592 4734630.577),2019-03-05,d1007,0,spring,NaN,0,s004,228559.155319
23,a41,POINT (603312.881 4733825.972),2019-03-05,d1127,0,spring,NaN,0,s004,271976.685164
24,a43,POINT (610811.309 4724704.213),2019-03-05,d1170,0,spring,NaN,0,s004,290136.880430
25,a45,POINT (626562.302 4725011.878),2019-03-05,d1206,0,spring,NaN,0,s004,305891.629689
26,a47,POINT (615074.73 4715536.785),2019-03-05,d1413,0,spring,NaN,2,s004,387304.793258
27,a49,POINT (647105.364 4697606.527),2019-03-05,d1640,0,spring,NaN,2,s004,481673.418869

#### ```Samples.reproject```

In [36]:
u_samples.reproject(crs_target='EPSG:4326')
u_samples.samples[:5]

Success: reprojected to CRS "EPSG:4326"

,point_id,point,date,datapoint_id,p-a,season,individuals,bss,section_id,dfbs
0,p01,POINT (-68.03133 42.83433),2019-01-25,d0004,1,winter,1.0,2,s001,NaN
1,p03,POINT (-68.40533 42.83533),2019-01-25,d0082,1,winter,5.0,2,s001,NaN
2,p04,POINT (-68.74517 42.58583),2019-03-02,d0480,1,spring,1.0,1,s003,NaN
3,p05,POINT (-68.60333 42.58583),2019-03-02,d0510,1,spring,2.0,1,s003,NaN
4,p06,POINT (-68.844 42.5025),2019-03-02,d0910,1,spring,1.0,1,s003,NaN

#### ```Samples.coords```

In [37]:
u_samples.coords()
u_samples.samples[:5]

,point_id,point,point_lon,point_lat,date,datapoint_id,p-a,season,individuals,bss,section_id,dfbs
0,p01,POINT (-68.03133 42.83433),-68.03133,42.83433,2019-01-25,d0004,1,winter,1.0,2,s001,NaN
1,p03,POINT (-68.40533 42.83533),-68.40533,42.83533,2019-01-25,d0082,1,winter,5.0,2,s001,NaN
2,p04,POINT (-68.74517 42.58583),-68.74517,42.58583,2019-03-02,d0480,1,spring,1.0,1,s003,NaN
3,p05,POINT (-68.60333 42.58583),-68.60333,42.58583,2019-03-02,d0510,1,spring,2.0,1,s003,NaN
4,p06,POINT (-68.844 42.5025),-68.84400,42.50250,2019-03-02,d0910,1,spring,1.0,1,s003,NaN

#### ```Samples.save```

In [38]:
u_samples.save(
    folder=export_folder,
    filetype='both'
)

#### Samples attributes

In [39]:
u_samples.name

'samples-presences-trackpoints-+-absences-as-10000m-0day'

In [40]:
u_samples.parameters

{'approach': 'point',
 'resampled': 'datapoints',
 'presences_name': 'presences-trackpoints',
 'presences_crs': 'EPSG:32619',
 'absences_name': 'absences-as-10000m-0day',
 'absences_var': 'along',
 'absences_target': 25,
 'presencezones_crs': 'EPSG:32619',
 'presencezones_sp_threshold': 10000,
 'presencezones_tm_threshold': 0,
 'presencezones_tm_unit': 'day',
 'sp_threshold': 10000,
 'tm_threshold': 5,
 'tm_unit': 'day',
 'samples_crs': 'EPSG:4326'}

In [41]:
u_samples.samples

,point_id,point,point_lon,point_lat,date,datapoint_id,p-a,season,individuals,bss,section_id,dfbs
0,p01,POINT (-68.03133 42.83433),-68.031330,42.834330,2019-01-25,d0004,1,winter,1.0,2,s001,NaN
1,p03,POINT (-68.40533 42.83533),-68.405330,42.835330,2019-01-25,d0082,1,winter,5.0,2,s001,NaN
2,p04,POINT (-68.74517 42.58583),-68.745170,42.585830,2019-03-02,d0480,1,spring,1.0,1,s003,NaN
3,p05,POINT (-68.60333 42.58583),-68.603330,42.585830,2019-03-02,d0510,1,spring,2.0,1,s003,NaN
4,p06,POINT (-68.844 42.5025),-68.844000,42.502500,2019-03-02,d0910,1,spring,1.0,1,s003,NaN
5,p08,POINT (-67.11783 42.58267),-67.117830,42.582670,2019-03-05,d1306,1,spring,5.0,1,s004,NaN
6,p10,POINT (-67.25083 42.58367),-67.250830,42.583670,2019-03-05,d1336,1,spring,1.0,2,s004,NaN
7,p11,POINT (-67.4285 42.5005),-67.428500,42.500500,2019-03-05,d1527,1,spring,3.0,2,s004,NaN
8,p13,POINT (-67.639 42.417),-67.639000,42.417000,2019-03-05,d1739,1,spring,4.0,3,s004,NaN
9,a01,POINT (-68.55325 42.83567),-68.553254,42.835670,2019-01-25,d0112,0,winter,NaN,3,s001,43586.126727
10,a04,POINT (-68.79903 42.83567),-68.799034,42.835670,2019-01-25,d0165,0,winter,NaN,2,s001,63674.485084
11,a05,POINT (-67.97204 42.75083),-67.972044,42.750830,2019-01-30,d0227,0,winter,NaN,3,s002,88809.824195
12,a07,POINT (-68.14766 42.7515),-68.147663,42.751500,2019-01-30,d0260,0,winter,NaN,3,s002,103184.456868
13,a14,POINT (-68.31305 42.75217),-68.313045,42.752170,2019-01-30,d0291,0,winter,NaN,3,s002,116720.793342
14,a18,POINT (-68.49081 42.75233),-68.490805,42.752330,2019-01-30,d0325,0,winter,NaN,3,s002,131268.591583
15,a20,POINT (-68.63784 42.7525),-68.637841,42.752500,2019-01-30,d0354,0,winter,NaN,3,s002,143301.874679
16,a26,POINT (-68.32406 42.58567),-68.324063,42.585670,2019-03-02,d0568,0,spring,NaN,1,s003,55085.614953
17,a28,POINT (-68.11755 42.585),-68.117552,42.585000,2019-03-02,d0610,0,spring,NaN,1,s003,72034.118891
18,a30,POINT (-68.1857 42.5025),-68.185704,42.502500,2019-03-02,d0774,0,spring,NaN,2,s003,135683.698206
19,a33,POINT (-68.40767 42.50283),-68.407675,42.502830,2019-03-02,d0820,0,spring,NaN,2,s003,153923.160087
20,a35,POINT (-68.53252 42.503),-68.532520,42.503000,2019-03-02,d0846,0,spring,NaN,2,s003,164181.394745
21,a36,POINT (-67.08317 42.76592),-67.083170,42.765916,2019-03-05,d0975,0,spring,NaN,0,s004,216949.539643
22,a37,POINT (-67.20724 42.75017),-67.207238,42.750170,2019-03-05,d1007,0,spring,NaN,0,s004,228559.155319
23,a41,POINT (-67.7376 42.75),-67.737601,42.750000,2019-03-05,d1127,0,spring,NaN,0,s004,271976.685164
24,a43,POINT (-67.64778 42.66683),-67.647785,42.666830,2019-03-05,d1170,0,spring,NaN,0,s004,290136.880430
25,a45,POINT (-67.45557 42.66717),-67.455573,42.667170,2019-03-05,d1206,0,spring,NaN,0,s004,305891.629689
26,a47,POINT (-67.59763 42.58367),-67.597628,42.583670,2019-03-05,d1413,0,spring,NaN,2,s004,387304.793258
27,a49,POINT (-67.21205 42.41683),-67.212054,42.416830,2019-03-05,d1640,0,spring,NaN,2,s004,481673.418869